#root {
  /* max-width: 1280px; */
/*   margin: 0 auto; */
/*   padding: 2rem; */
  text-align: center;
}

.header {
  background: rgb(62, 121, 240);
  color: #f1f1f1;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  height: 100px;
}

.header-content {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.select {
  height: fit-content;
  align-self: flex-start;
  display: flex;
  flex-wrap: wrap;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-items: center;
  width: 100vmax;
  height: fit-content;
}

.exam-name {
  margin: auto;
  width: 50%;
  margin: 0;
}

.question-card {
  margin: 10px;
  padding: 50px;
  text-align: center;
  width: 70%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.line {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  width: 100%;
}

